* {
    box-sizing: border-box;
}

html, body {
    margin:0px;
    height:100%;
}

.wrapper-div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    background-color:lightseagreen;
    font-size: 120%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#navbar {
    position: fixed;
    width: fit-content;
    max-width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: 0px;
    background-color: rgb(201, 209, 218);
    border-right: 2px solid;
    border-bottom: 2px solid;
}
    
#navbar header {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    border:2px solid rgb(201, 209, 218);
}

#main-doc {
    flex: 1;
    overflow: auto;
    background-color: rgb(160, 163, 167);
    
    
}

.main-section header {
    font-size: 120%;
    font-weight: bold;
}


@media only screen and (max-width: 640px) {
    #navbar {
        display: block;
    }
}